<p>template-driven works!</p>


<div class="col-md-4 offset-md-4" >
  <h1>
    Template Driven
  </h1>
<form #loginForm = "ngForm" (ngSubmit) = "onSubmit(loginForm)" >
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>

      <input type="email" class="form-control" required minlength="3"
       id="email"  ngModel name="emailField" #emailField = "ngModel" >

    


      <div *ngIf = "emailField.touched && emailField.invalid" 
      class="text-danger" >this is mandotary</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>

      <input type="password" class="form-control" required
       id="password" ngModel name="passwordField" #passwordField = "ngModel">
      </div>
    <div *ngIf = "passwordField.touched && passwordField.invalid" 
    class="text-danger" >this is mandotary</div>
    
    <button type="submit" [disabled] = "loginForm.invalid"  class="btn btn-primary">Submit</button>
  </form>
</div>

